@page "/test"

@inject ToastService toastService

<PageTitle>Testing components</PageTitle>

<Input />

<br />

<Button>Botão</Button>
<Button Variant="secondary">Botão</Button>
<Button Variant="destructive">destructive</Button>

<br />

<Badge Variant="secondary">bad1</Badge>
<Badge Variant="destructive">bad2</Badge>

<br />

<Button @onclick="@(() => toastService.ShowToast("conteúdo de sucesso", "Título", ToastLevel.Success))">Sucess</Button>
<Button @onclick="@(() => toastService.ShowToast("conteúdo de erro", "Título", ToastLevel.Error))">Error</Button>
<Button @onclick="@(() => toastService.ShowToast("conteúdo de aciso", "Título", ToastLevel.Warning))">Warning</Button>

<br />

<Dialog>
    <DialogTrigger>
        <Button Variant="primary">
            Abrir Dialog
        </Button>
    </DialogTrigger>
    <DialogContent>
        <DialogTitle Class="bg-yellow-200">
            Um titulo
        </DialogTitle>

        o conteúdo
        <DialogFooter Class="sm:justify-between">
            <Button>aaaa</Button>
            <DialogClose>
                <Button>Fechar</Button>
            </DialogClose>
        </DialogFooter>
    </DialogContent>
</Dialog>

<br />

<Accordion Class="w-full" type="AccordionType.Multiple">
    <AccordionItem value="trigger1">
        <AccordionTrigger>
            gatinho
        </AccordionTrigger>
        <AccordionContent>
            Conteúdo
        </AccordionContent>
    </AccordionItem>
    <AccordionItem value="trigger2">
        <AccordionTrigger>
            gatinho
        </AccordionTrigger>
        <AccordionContent>
            Conteúdo
        </AccordionContent>
    </AccordionItem>
</Accordion>

<br />

<Avatar>
    <AvatarImage src="https://img.cdndsgni.com/preview/11599815.jpg" alt="pika pika" />
    <AvatarFallback>PP</AvatarFallback>
</Avatar>

<Avatar>
    <AvatarImage alt="pika pika" />
    <AvatarFallback>PP</AvatarFallback>
</Avatar>

<br />
<Card>

    <CardHeader>
        <CardTitle>Card Title</CardTitle>
        <CardDescription>Card Description</CardDescription>
    </CardHeader>
    <CardContent>
        <p>Card Content</p>
    </CardContent>
    <CardFooter>
        <p>Card Footer</p>
    </CardFooter>
</Card>

<br />

<Skeleton Class="w-32 h-32" />

<br />


<Table>
    <TableHeader>
        <TableRow>
            <TableHead>Nome</TableHead>
            <TableHead>Email</TableHead>
            <TableHead>Idade</TableHead>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableCell>João Silva</TableCell>
            <TableCell>joao.silva@example.com</TableCell>
            <TableCell>30</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Maria Oliveira</TableCell>
            <TableCell>maria.oliveira@example.com</TableCell>
            <TableCell>28</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Carlos Pereira</TableCell>
            <TableCell>carlos.pereira@example.com</TableCell>
            <TableCell>35</TableCell>
        </TableRow>
    </TableBody>
    <TableFooter>
        <TableRow>
            <TableCell colSpan="2">Total</TableCell>
            <TableCell Class="text-right">$2,500.00</TableCell>
        </TableRow>
    </TableFooter>
</Table>

<br/>



<Tabs Value="@selectedTab" ValueChanged="@((string v) => selectedTab = v)">
    <TabsList>
        <TabsTrigger Value="tab1">Aba 1</TabsTrigger>
        <TabsTrigger Value="tab2">Aba 2</TabsTrigger>
    </TabsList>

    <TabsContent Value="tab1">
        Conteúdo da aba 1
    </TabsContent>
    <TabsContent Value="tab2">
        Conteúdo da aba 2
    </TabsContent>
</Tabs>

@code {
    private string selectedTab = "tab1";
}